html{
    box-sizing: border-box
}
*, *:before,*:after {
    box-sizing: inherit
}
*{
    margin: 1;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 20px 0;
}
div.contenedor{
    width: 10000px;
    margin:  auto;
}
/** Navegacion **/
div.menu {
    background-color: #FCBA34;
}

nav{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

nav ul {
    list-style-type: none;
}

nav > ul > li{
    float: left;
}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

nav ul li a{
    display: inline-block;
    width: 200px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

nav ul li a:hover{
   background-color: #FCBA34; 
}
/**Segundo Nivel**/
nav ul ul{
    position: absolute;
    top: 100%;
    background-color: rgba(0, 104, 228, 0.7);
    display: none;
}
nav ul li:hover > ul{
 display: block;
}
nav ul li:hover{
    background-color: rgba(0, 104, 228, 0.7);
}
/**Contenido principal**/
div.contenido::after{
    content: '';
    display: block;
    clear: both;
}
main{
    width: 70%;
    float: left;
    padding-right: 40px; 
}

article{
    margin-top: 30px;
}
h2{
    color: #00B9E5;  
    margin-bottom: 20px;
}
article img{
    float: left;
    width: 250px;
    margin-right: 30px; 
}
article p{
    line-height: 2;
    text-align: justify;
}
.button{
    background-color:#FCBA34;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase; 
}
/**Sidebar**/
aside{
    float: right;
    width: 30%;
    margin-top: 30px;
}
aside ul{
    list-style-type: none;
}
aside ul li{
   padding: 10px 0 10px 10px;
}
aside ul li:hover{
    background-color: #00B9E5;
}
aside ul li a{
    color: #00B9E5;
    text-decoration: none;
}
aside ul li:hover a{
    color: white;
}
/*Footer*/
footer{
    background-color:#FCBA34;
    padding-top: 40px;
    margin-top: 30px;
}
footer h2{
    color: black;
}
footer .contenedor::after{
    content: '';
    display: block;
    clear: both;
}
footer div.nosotros{
    float: left;
    width: 30%;
    color: black;
}
footer div.menu{
    float: right;
    width: 40%;
    text-align: right;
}
footer nav{
    width: auto;
}
footer nav ul li a{
    width: auto;
}
.copyright{
    padding: 20px 0;
    color: black;
    text-align: center;
}